// Header content fade-in
.date {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

.title {
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

.header-info {
    -webkit-animation: fadein 7s;
    -moz-animation: fadein 7s;
    -o-animation: fadein 7s;
    animation: fadein 7s;
}

.header-img {
    -webkit-animation: fadein 12s;
    -moz-animation: fadein 12s;
    -o-animation: fadein 12s;
    animation: fadein 12s;
}

@keyframes fadein
 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//////////////////////
////// Button ////////
//////////////////////

.register-button {
    opacity: 1;
    transition: 0.3s;
}

.register-button:hover {
    background-color: #6D7C7C;
    color: white;
    text-shadow: 5px black;
    font-size: 0.7rem;
}