footer {
    background-color: var(--headerandfooter);
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 28vh;
    .auto-type {
        display: flex;
        font-family: 'Segoe UI', sans-serif;
        font-size: 20px;
        justify-content: center;
        color: var(--full-page-color);
    }
    .form-button {
        border: 1px solid black;
        height: 150px;
        width: 150px;
        border-radius: 100%;
        margin-left: 3rem;
        //fix click border
    }
    .social-media {
        display: flex;
        justify-content: center;

        .icon {
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 75px;
        }
        .icon:hover {
            width: 70px;
            height: 75px;
            border: 8px solid #6D7C7C;
            border-radius: 30px;
        }
    }
    .footer-info {
        position: absolute;
        margin: 2rem;
        font-size: 0.6rem;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .footer-info:hover {
        font-size: 0.9rem;
    }
}

    @media (max-width: 980px) {
        footer {
        height: 20vh;


        .auto-type {
            font-size: 0.9rem;
        }

        .social-media {
            .icon {
                width: 50px;
                height: 50px;
            }   
        }

        .footer-info {
            margin-left: 1rem;
            font-size: 0.5rem;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .footer-info:hover {
            font-size: 0.8rem;
            
        }

        .form-button {
            width: 100px;
            height: 30px;
            margin-bottom: 2rem;
            margin-left: 9rem;
            border: 1px solid black;
            border-radius: 5%;
        }
        .footer-info:hover {
            font-size: 0.6rem;
            
        }        
    }
 }