footer {
    background-color: var(--headerandfooter);
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 30vh;
    .auto-type {
        display: flex;
        font-family: 'Segoe UI', sans-serif;
        font-size: 24px;
        justify-content: center;
        color: var(--full-page-color);
    }
    .form-button {
        border: 1px solid black;
        height: 150px;
        width: 150px;
        border-radius: 100%;
        margin-left: 3rem;
        //fix click border
    }
    .social-media {
        display: flex;
        justify-content: center;

        .icon {
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 75px;
        }
    }
    .footer-info {
        margin-left: 2rem;
        font-size: 0.6rem;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    @media (max-width: 980px) {
        height: 20vh;

        .auto-type {
            font-size: 0.9rem;
        }

        .social-media {
            .icon {
                width: 60px;
                height: 60px;
            }
        }

        .footer-info {
            margin-left: 2rem;
            font-size: 0.5rem;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .form-button {
            width: 100px;
            height: 30px;
            margin-bottom: 2rem;
            margin-left: 9rem;
            border: 1px solid black;
            border-radius: 5%;
        }
    }
}
