html {   
    font-size: 18px;
     body {
        font-family: 'Amatic';
        margin: 0;
       

        .text-box {
            p {
                font-family: 'Segoe UI';
                font-size: 18px;

            }
        }

        a {
            text-decoration: none;
        }
    }
}

@font-face {
    font-family: 'Amatic';
    src: local('Amatic'), url('/assets/fonts/Amatic-Bold.woff2') format('woff2'),
        url('/assets/fonts/Amatic-Bold.woff') format('woff');
  
}

@font-face {
    font-family: 'Amatic';
    src: local('Amatic'),
        url('/assets/fonts/Amatic-Regular.woff2') format('woff2'),
        url('/assets/fonts/Amatic-Regular.woff') format('woff');
   
}

* {
    box-sizing: border-box;
    --headerandfooter: #364142; /* Header and footer BG */
    --green: #9ef700; /* Header h1 */
    --full-page-color: #dad7cd; /* Rest of the page BG */
}

@media (max-width: 980px) {
    html {
        font-size: 14px;
    }
}
