.full-page-item-two {
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: var(--full-page-color);

   h1.personal-greeting {
      position: absolute;
      text-align: center;
      font-family: 'Amatic';
      font-size: 34px;
      margin: 25px;
      margin-left: 20vw;
      margin-top: 10vh;
      padding-left: 4px;
      padding-right: 4px;
      letter-spacing: 0.3px;
      font-weight: 4rem;
      background-color: var(--green);

      .vip {
          background-color: var(--headerandfooter);
          color: var(--full-page-color);                 
      }
   }

   .text-box {
        display: block;
        height: 50vh;
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: 50%;   
        margin-right: 10%;
        h1 {
            font-size: 60px;
            text-align: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }     
        p {
            margin-left: 3rem;
            margin-right: 3rem;
            font-size: 18px;
            letter-spacing: 1px;
        }
    }

     img {
        position: absolute;
        margin-top: 25vh;
        margin-left: 50px;
        width: 40vw;
        height: 315px;
    }
}

@media (max-width: 1650px) {
    .full-page-item-two {
        display: flex;
        width: 100%;
        height: 80vh;
        background-color: var(--full-page-color);
    
       h1.personal-greeting {
          position: absolute;
          text-align: center;
          font-family: 'Amatic';
          font-size: 22px;
          font-weight: 5rem;
          margin: 25px;
          margin-left: 20vw;
          margin-top: 10vh;
          padding-left: 4px;
          padding-right: 4px;
          letter-spacing: 0.3px;
          font-weight: 100;
          background-color: var(--green);            
       } 
    
        .text-box {
            height: 70vh;
            margin-top: 20px;
            margin-bottom: 0;
            margin-left: 50%;   
            margin-right: 10%;
        
            h1 {
                font-size: 50px;
                text-align: center;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                font-weight: 100;
            }     
            p {
                margin-left: 3rem;
                margin-right: 3rem;
                font-size: 18px;
                letter-spacing: 0.5px;
              }
        }
    
         img {
            position: absolute;
            margin-top: 25vh;
            margin-left: 50px;
            width: 40vw;
            height: 315px;
        }
    }
}    
// MOBILE VIEW //
@media (max-width: 980px) {
    .full-page-item-two {
        height: 60vh;
            h1.personal-greeting {        
            font-family: 'Amatic';
            font-size: 14px;
            margin: 10px;
            margin-left: 10px;             
        }
        .text-box {
            height: 58%;
            margin: 1rem 2rem 1rem 1rem;
            border: none;    
            h1 {
            font-size: 2rem;
            font-weight: 100;                    
            }         
            p {
                font: normal normal normal 12px/18px Segoe UI;
                letter-spacing: 0px;
                margin-left: 0.8rem;
                margin-right: 1rem;             
            }
        }

        img {
            margin-left: 1rem;
            margin-top: 33vh;
            width: 333px;
            height: 250px;
        }
    }
}


