.full-page-item-two {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--full-page-color);

    .text-box {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50%;
        margin-right: 20px;
        padding: 10px;

        h1 {
            text-align: center;
        }
    }

    button {
        position: absolute;
        margin-top: 25vh;
        margin-left: 25vw;
        border: solid 3px black;
        font-family: 'DM Mono', monospace;
        width: 218px;
        height: 59px;

        #biljetter-btn {
            font-size: 24px;
        }
    }

    img {
        position: absolute;
        margin-top: 40vh;
        margin-left: 20px;
        width: 45vw;
        height: 315px;
    }
}

// MOBILE VIEW //

@media (max-width: 980px) {
    .full-page-item-two {
        .text-box {
            height: 50%;
            margin-left: 3rem;
            margin-right: 3rem;
            opacity: 1;

            h1 {
                text-align: center;
                font-size: 25px;
            }

            h2 {
                font: normal normal 600 12px/16px Segoe UI;
                letter-spacing: 0;
                opacity: 1;
            }

            p {
                font: normal normal normal 10px/18px Segoe UI;
                letter-spacing: 0px;
                opacity: 1;
            }
        }

        img {
            position: absolute;
            margin-left: 50px;
            margin-top: 55vh;
            width: 250px;
            height: 125px;
        }

        button {
            position: absolute;
            margin-top: 80vh;
            margin-left: 140px;
            height: 35px;
            width: 125px;
            border: solid 2px black;
        }
    }
}
